<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<object th:include="fragments/fragment ::css" th:remove="tag"></object>
<object th:include="fragments/fragment ::js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<br>
		<h3>Welcome to SIPEG</h3>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Cari Pegawai Berdasarkan Nip</div>
					<div class="card-body">
						<form th:action="@{/pegawai}" method="GET">
							<div style="text-align: left;" class="row">
								<div class="col-md-2">Pilih NIP</div>
								<div class="col-md-4">
									<input class="form-control" type="text" name="nip" />
								</div>
								<div class="col-md-4">
									<button class="btn btn-primary" type="submit">Cari</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Lihat Detail Jabatan</div>
					<div class="card-body">
						<form th:action="@{/jabatan/view}" method="GET">
							<div class="row">
								<div class="col-mx-1">Pilih Jabatan</div>
								<div class="col-md-8">
									<select class="form-control" th:name="idJabatan">
										<option disabled="disabled" selected="selected">--
											Pilih Jabatan --</option>
										<option th:each="jabatan : ${listOfJabatan}"
											th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
									</select>
								</div>
								<div class="col-md-1">
									<button class="btn btn-primary" type="submit">Cari</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">Lihat Pegaawai Termuda dan Tertua</div>
					<div class="card-body">
						<form th:action="@{/pegawai/termuda-tertua}" method="GET">
							<div class="row">
								<div class="col-md-4">Pilih Instansi</div>
								<div class="col-md-4">
									<select class="form-control" th:name="idInstansi">
										<option disabled="disabled" selected="selected">--
											Pilih Instansi --</option>
										<option th:each="instansi : ${listOfInstansi}"
											th:value="${instansi.id}"
											th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></option>
									</select>
								</div>
								<div class="col-md-4">
									<button class="btn btn-primary" type="submit">Cari</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>