<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<object th:include="fragments/fragment ::css" th:remove="tag"></object>
<object th:include="fragments/fragment ::js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<br>
		<h3>Welcome to SIPEG</h3>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Cari Pegawai Berdasarkan Nip</div>
					<div class="card-body">
						<form th:action="@{/pegawai}" method="GET">
							Pilih NIP: <br> <input type="text" name="nip" />
							<button class="btn btn-primary" type="submit">Cari</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Lihat Detail Jabatan</div>
					<div class="card-body">
						Pilih Jabatan: <br>
						<form th:action="@{/jabatan/view}" method="GET">
							<select th:name="idJabatan">
								<option disabled="disabled" selected="selected">--
									Pilih Jabatan --</option>
								<option th:each="jabatan : ${listOfJabatan}" th:value="${jabatan.id}"
									th:text="${jabatan.nama}"></option>
							</select>
							<button class="btn btn-primary" type="submit">Cari</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">Lihat Pegaawai Termuda dan Tertua</div>
					<div class="card-body">
						Pilih Instansi: <br>
						<form th:action="@{/pegawai/termuda-tertua}" method="GET">
							<select th:name="idInstansi">
								<option disabled="disabled" selected="selected">--
									Pilih Instansi --</option>
								<option th:each="instansi : ${listOfInstansi}" th:value="${instansi.id}"
									th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></option>
							</select>
							<button class="btn btn-primary" type="submit">Cari</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>