<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Update Pegawai</title>
<object th:include="fragments/fragment ::css" th:remove="tag"></object>
<object th:include="fragments/fragment ::js" th:remove="tag"></object>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<br>
		<h3>Update Pegawai</h3>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Isi Data Pegawai</div>
					<div class="card-body">
						<form th:action="@{/pegawai/ubah}" th:object="${pegawai}"
							method="POST">
							<input type="hidden" name="id" th:value="${pegawai.id}">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-6">
										<p>Nama</p>
									</div>
									<div class="col-md-6">
										<input class="form-control" type="text" name="nama" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p>Tempat Lahir</p>
									</div>
									<div class="col-md-6">
										<input class="form-control" type="text" name="tempatLahir" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p>Tanggal Lahir</p>
									</div>
									<div class="col-md-6">
										<input class="form-control" type="date" name="tanggalLahir" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p>Tahun Masuk</p>
									</div>
									<div class="col-md-6">
										<input class="form-control" type="text" name="tahunMasuk" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p>Provinsi</p>
									</div>
									<div class="col-md-6">
										<select id="provinsi" name="provinsi">
											<option disabled="disabled" selected="selected">--Pilih
												Provinsi --</option>
											<option th:each="provinsi : ${listOfProvinsi}"
												th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p>Instansi</p>
									</div>
									<div class="col-md-6">
										<select id="instansi" name="instansi" th:value="${instansi}"
											required="required">
											<option disabled="disabled" selected="selected">--Pilih
												Instansi --</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p>Jabatan</p>
									</div>
									<div class="col-md-12">
										<table border="1">
											<tr th:each="jabatan,iterationStatus : ${listOfJabatan}">
												<td th:text="${iterationStatus.count}"></td>
												<td th:text="${jabatan.nama}"></td>
												<td><input type="checkbox" th:field="*{jabatanList}"
													th:value="${jabatan.id}" /> <label
													th:for="${#ids.prev('jabatanList')}"></label></td>
											</tr>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-primary" type="submit">Submit</button>
									</div>
								</div>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('#provinsi')
				.change(
						function() {

							$
									.getJSON(
											"http://localhost:8080/pegawai/provinsi-get",
											{
												provinsiId : $(this).val(),
												ajax : 'true'
											},
											function(data) {
												var html = '<option disabled="disabled" selected="selected">-- Pilih Instansi --</option>';
												var len = data.length;
												for (var i = 0; i < len; i++) {
													html += '<option value= "'+ data[i].id +'" th:text="'+ data[i].nama +'">'
															+ data[i].nama
															+ '</option>';
												}
												$('#instansi').html(html);
											});
						});

		$('#instansi').change(function() {

			$.getJSON("http://localhost:8080/pegawai/instansi-get", {
				instansiId : $(this).val(),
				ajax : 'true'
			}, function(data) {
				this.value = data;
			});
		});
	</script>
</body>

</html>