<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Pilot</title>
<title>Home</title>
<object th:include="fragments/fragment ::css" th:remove="tag"></object>
<object th:include="fragments/fragment ::js" th:remove="tag"></object>
</head>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div class="container-fluid">
		<h2>Lihat Data Pegawai</h2>
		<br>
		<div class="row">
			<div class=col-md-6>
				<div class="card">
					<div class="card-header" th:text="${pegawai.nama}"></div>
					<div class="card-body">
						<p th:text="'NIP	= ' + ${pegawai.nip}"></p>
						<p
							th:text="'TTL	= ' + ${pegawai.tempatLahir} + ', ' + ${pegawai.tanggalLahir}"></p>
						<p th:text="'Tahun Masuk	= ' + ${pegawai.tahunMasuk}"></p>
						<div th:each="instansi:${pegawai.instansi}">
							<p th:text="'Instansi	= ' + ${instansi.nama}"></p>
						</div>
						<p>Jabatan :</p>
						<div th:each="jabatan:${pegawai.jabatanList}">
							<ul>
								<li th:text="'Jabatan	= ' + ${jabatan.nama}"></li>
							</ul>
						</div>
						<p th:text="'Gaji	= ' + ${gaji}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>